<% @lists.each do |list| %>
  <%= render(list) %>
<% end %>

<hr>

<div class="text-right">
  <%= link_to "Adicionar Cargo", new_occupation_path, class: 'btn btn-primary' %>
  <%= link_to "Adicionar Funcionario", new_list_path, class: 'btn btn-primary' %>
</div>
