<% @lists.each do |list| %>
  <%= render(list) %>
<% end %>

<hr>

<div class="btn-toolbar justify-content-between">
  <%= link_to "Adicionar Cargo", new_occupation_path, class: 'btn btn-primary' %>
  <%= link_to "Adicionar Funcionário", new_list_path, class: 'btn btn-primary' %>
</div>
