<div class="shadow p-5 bg-light rounded">
  <div class="text-center mb-5">
    <h3><%= @list.name %></h3>
      <div class="px-5 mb-3 mt-3">
        <h5><strong>Email: </strong><%= @list.email %></h5>

      </div>

      <div class="px-5 mb-3">      
        <h5><strong>Cargo: </strong><%= @list.occupation.description %></h5>
      </div>

      <div class="px-5 mb-3">
        <h5><strong>Salário: R$ </strong><%= @list.salario %></h5>
      </div>
  </div>
</div>
