<%= form_with(model: occupation, local: true) do |form| %>
<div class="text-center">
  <div class="form-group">
    <%= form.label :description, 'Descrição:' %>
    <%= form.text_field :description, class: 'form-control col-md-4 offset-md-4', required: true %>
  </div>

</div>


  <div class="text-center">
    <%= form.submit 'Criar Cargo', class: 'btn btn-primary' %>

  </div>
<% end %>
